@model WebProje.Models.Haber

@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sil</h2>

<h3>Bu haberi silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Haber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            Ekleyen Kişi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.Ad)
        </dd>

        <dt>
            Haber
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Icerik)
            @*@Html.DisplayFor(model => model.Icerik)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OkunmaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OkunmaSayisi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye geri dön", "Index")
        </div>
    }
</div>
