@model WebProje.Models.Haber

@{
    ViewBag.Title = "Detaylar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Detaylar</h2>

<div>
    <h4>Haber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            Ekleyen Kişi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.Ad)
        </dd>

        <dt>
            Haber
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Icerik,new { @readonly = "readonly" ,Class ="form-control" })
            @*@Html.DisplayFor(model => model.Icerik)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onay)
        </dt>

        <dd>
            @{
                if (Model.Onay == null)
                {
                    @("Belirtilmemiş");
                }
                else if (Model.Onay == true)
                {
                    @("Onaylanmış");
                }
                else
                {
                    @("Onaylanmamış")
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OkunmaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OkunmaSayisi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.HaberID }) |
    @Html.ActionLink("Listeye geri dön", "Index")
</p>
